In [110]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import sys
import os
sys.path.insert(0, os.path.abspath("../"))

from functions_extra.metrics import Relations

In [111]:
dados_brutos = "../data_sampling/dados_brutos/%s"
dados_tratados = "../data_sampling/dados_tratados/%s"

In [112]:
df = pd.read_parquet(dados_tratados%"df_cat.parquet")

In [113]:
vars_cat = df.columns[1:-2]

In [114]:
rel = Relations(df, resp='resp')

In [115]:
cramer_cor = rel.get_cramers_V(vars_cat, ["resp"])

In [128]:
cramer_cor.sort_values(by="resp", ascending=False).reset_index()

               index      resp
0           Contract  0.410116
1             tenure  0.372885
2     OnlineSecurity  0.347400
3        TechSupport  0.342916
4    InternetService  0.322455
5      PaymentMethod  0.303359
6       OnlineBackup  0.292316
7   DeviceProtection  0.281580
8       TotalCharges  0.281424
9    StreamingMovies  0.230951
10       StreamingTV  0.230502
11    MonthlyCharges  0.230035
12  PaperlessBilling  0.191498
13        Dependents  0.163870
14     SeniorCitizen  0.150453
15           Partner  0.150126
16     MultipleLines  0.040109
17      PhoneService  0.011398
18            gender  0.008291

In [117]:
map_woe, map_iv, map_count, map_fraud = rel.get_woe(vars_cat, target="resp")

In [118]:
for k,v in map_woe.items():
    display(k)
    display(
        pd.DataFrame({
            "category": map_woe[k].keys(), 
            "n": [int(x[0]) for x in map_count[k].values()],
            "churn": [int(x[0]) for x in map_fraud[k].values()],
            "woe": map_woe[k].values(),
            })\
                .sort_values("woe", ascending=False)
                .style.bar(
                    subset=["woe"], color='#d65f5f'))

'gender'

'SeniorCitizen'

'Partner'

'Dependents'

'tenure'

'PhoneService'

'MultipleLines'

'InternetService'

'OnlineSecurity'

'OnlineBackup'

'DeviceProtection'

'TechSupport'

'StreamingTV'

'StreamingMovies'

'Contract'

'PaperlessBilling'

'PaymentMethod'

'MonthlyCharges'

'TotalCharges'

In [119]:
recat = {
    "tenure": {
        "(-inf, 1.5]":"(-inf, 10.5]",
        "(1.5, 10.5]":"(-inf, 10.5]",
        "(22.5, 33.5]":"(22.5, 59.5]",
        "(33.5, 45.5]":"(22.5, 59.5]",
        "(45.5, 59.5]":"(22.5, 59.5]",
        "(59.5, 64.5]":"(64.5.5, inf]",
        "(64.5, inf]":"(64.5.5, inf]"
    },

    "PaymentMethod" : {
        "Bank transfer (automatic)":"Automatic payment",
        "Credit card (automatic)":"Automatic payment" 	

    },

    "MonthlyCharges": {
        "(-inf, 19.925]":"(-inf, 20.875]",
        "(19.925, 20.875]":"(-inf, 20.875]",
        "(20.875, 49.425]":"(20.875, 74.125]",
        "(49.425, 55.975]":"(20.875, 74.125]",
        "(55.975, 74.125]":"(20.875, 74.125]",
        "(74.125, 86.325]":"(74.125, inf]",
        "(86.325, 100.275]":"(74.125, inf]",
        "(100.275, inf]": "(74.125, inf]"
    },

    "TotalCharges": {
        "(365.725, 1240.525]":"(365.725, 6976.0]",
        "(1240.525, 2108.85]":"(365.725, 6976.0]",
        "(2108.85, 4026.0]":"(365.725, 6976.0]",
        "(4026.0, 4838.375]": "(365.725, 6976.0]",
        "(4838.375, 6976.0]":"(365.725, 6976.0]"
    },

    "MultipleLines": {"No phone service": "No"}

}

In [120]:
df = df.replace(recat)

In [121]:
rel = Relations(df, resp='resp')

In [122]:
map_woe, map_iv, map_count, map_fraud = rel.get_woe(vars_cat, target="resp")

In [123]:
for k,v in map_woe.items():
    display(k)
    display(
        pd.DataFrame({
            "category": map_woe[k].keys(), 
            "n": [int(x[0]) for x in map_count[k].values()],
            "churn": [int(x[0]) for x in map_fraud[k].values()],
            "woe": map_woe[k].values(),
            })\
                .sort_values("woe", ascending=False)
                .style.bar(
                    subset=["woe"], color='#d65f5f'))

'gender'

'SeniorCitizen'

'Partner'

'Dependents'

'tenure'

'PhoneService'

'MultipleLines'

'InternetService'

'OnlineSecurity'

'OnlineBackup'

'DeviceProtection'

'TechSupport'

'StreamingTV'

'StreamingMovies'

'Contract'

'PaperlessBilling'

'PaymentMethod'

'MonthlyCharges'

'TotalCharges'

In [124]:
pd.DataFrame({"var": map_iv.keys(), "IV": map_iv.values()}).sort_values(by="IV", ascending=False)

                 var        IV
14          Contract  1.234536
4             tenure  0.735656
8     OnlineSecurity  0.716313
11       TechSupport  0.698135
7    InternetService  0.616694
9       OnlineBackup  0.527459
10  DeviceProtection  0.498575
16     PaymentMethod  0.455573
13   StreamingMovies  0.380339
12       StreamingTV  0.379428
18      TotalCharges  0.336185
17    MonthlyCharges  0.298236
15  PaperlessBilling  0.202839
3         Dependents  0.155200
2            Partner  0.118633
1      SeniorCitizen  0.105698
6      MultipleLines  0.008208
5       PhoneService  0.000718
0             gender  0.000380

In [125]:
df = df[vars_cat].replace(map_woe).copy()

In [126]:
df.to_parquet(dados_tratados%"df_woe.parquet")

In [127]:
import pickle
with open('../notebooks/artefatos/map_woe.pickle', 'wb') as handle:
    pickle.dump(map_woe, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open('../notebooks/artefatos/vars_cat.pickle', 'wb') as handle:
    pickle.dump(vars_cat, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open('../notebooks/artefatos/recat.pickle', 'wb') as handle:
    pickle.dump(recat, handle, protocol=pickle.HIGHEST_PROTOCOL)